<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/_layout::head(${title})">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devmaster</title>
</head>
<body>
<!--    Sử dụng Header Fragment-->
    <header th:replace="fragments/_layout :: header"></header>

<!--    Nội dung chính của Trang chủ-->
    <section class="container" style="min-height: 268px">
        <div class="row">
            <h1>Đây là trang chủ</h1>
        </div>
<!--    Sử dụng Menu fragment / Chèn Menu-->
        <nav th:insert="fragments/_layout::menu"></nav>
    </section>

<!--    Sử dụng Footer Fragment-->
    <footer th:replace="fragments/_layout :: footer"></footer>
</body>
</html>